<!--    
    <footer class="footer">
        <div class="pattern-light"></div>
        <div class="radial"></div>
        <div class="footer-menu">
            <ul>
                <li><a [routerLink]="['/inicio']">Inicio</a></li>
            <li><a [routerLink]="['/chocolates']">Chocolates</a></li>
            <li><a [routerLink]="['/guardar-chocolate']">Guardar Chocolate</a></li>
            <li><a [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© 2021 ARIQ. Todos los derechos reservados.</p>
        </div>
        <div class="social-media">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
-->

<footer>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="imagen">
            <div class="logo">
                <img src="../../../assets/img/logoxd.png" alt="Logo">
            </div>
        </div>
        <div class="menu">
            <span class="inicio" (click)="scrollToTopBtnr()">
                <a [routerLink]="['/inicio']">
                Inicio
                </a>
            </span>
            <span class="productos" (click)="scrollToTopBtnr()">
                <a [routerLink]="['/chocolates']" >
                    Productos
                    </a>
            </span>
            <span class="aboutUs" (click)="scrollToTopBtnr()">
                <a [routerLink]="['/aboutUs']">
                    About US
                </a>
            </span>
            <span class="contactos" (click)="scrollToTopBtnr()">
                <a [routerLink]="['/contacto']">
                    Contactos
                </a>    
            </span>
        </div>
        <span class="fin">© 2021 ARIQ. Todos los derechos reservados.</span>
        <div class="facebook"><img src="../../../assets/img/Facebook.png" alt="facebook"></div>
        <div class="twitter"><img src="../../../assets/img/Twitter.png" alt="twitter"></div>
        <div class="instagram"><img src="../../../assets/img/Instagram.png" alt="instagram"></div>
        <div class="github"><img src="../../../assets/img/Github.png" alt="github"></div>
        <div class="linkedin"><img src="../../../assets/img/LinkedIn.png" alt="linkedin"></div>
    </div>        
    </body>
</footer>
