
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.container {
  height: 380px;
  width: 1440px;
  background: rgb(230, 152, 152);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.imagen {
  width: 100%;
  height: 384px;
  background: rgba(230, 152, 152,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.logo {
  width: 100%;
  height: 394px;
  background: rgba(230, 152, 152,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.menu {
  width: 513px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 700px;
  overflow: hidden;
}
.menu a{
  text-decoration: none;
  color: black;
}
.inicio {
  width: 54px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.productos {
  width: 102px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 0px;
  left: 108px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.aboutUs {
  width: 91px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 0px;
  left: 268px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.contactos {
  width: 106px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 0px;
  left: 407px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.fin {
  width: 356px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 217px;
  left: 150px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.logo img {
  width: auto;
  height: 220px;
  position: absolute;
  top: 0px;
  left: 240px;
}
.facebook {
  position: absolute;
  left: 800px;
  bottom: 147px;
}

.twitter {
  position: absolute;
  left: 850px;
  bottom: 147px;
}

.instagram {
  position: absolute;
  left: 900px;
  bottom: 142px;
}

.github {
  position: absolute;
  left: 950px;
  bottom: 147px;
}

.linkedin {
  position: absolute;
  left: 1000px;
  bottom: 147px;
}