<body>
    <div class="container">
      <div class="container2">
        <div class="fondo1"></div>
        <div class="circuloV"></div>
        <div class="fondo2"></div>
        <div class="img1"></div>
        <span class="tituloInicio">Deliciosas experiencias dulces para todos los gustos</span>
        <span class="textoInicio">En nuestra pastelería creamos postres únicos y personalizados para que disfrutes en cualquier ocasión, desde tartas de frutas frescas hasta cupcakes temáticos..</span>
        <button class="botonOrdenar">
            <span class="ordenar">Ordena Ahora</span>
        </button>
          <button class="botonProductos">
            <span class="productos"><a [routerLink]="['/chocolates']">Productos</a></span>
          </button>
      </div>
    </div>
          <div class="seleccion">
            <span class="tituloSeleccion">Nuestra Mejor selección</span>
            <span class="textoSeleccion">Aquí te mostramos nuestros productos más solicitados, que pueden ser de tu agrado.</span>
          </div>
          <div class="seleccionContainer">
            <div class="imgS1">
              <div class="imagen1"></div>
              <div class="textoS1">
                <span class="txt1">Passion CupCake</span>
              </div>
            </div>
            <div class="imgS2">
              <div class="imagen2"></div>
              <div class="textoS2">
                <span class="txt2">Fancy CupCake</span>
              </div>
            </div>
            <div class="imgS3">
              <div class="imagen3"></div>
              <div class="textoS3">
                <span class="txt3">CupJoker</span>
              </div>
            </div>
            <div class="imgS4">
              <div class="imagen4"></div>
              <div class="textoS4">
                <span class="txt4">Black 'N' White CupCake</span>
              </div>
            </div>
          </div>
        <div class="info">
          <div class="primerElemento">
            <div class="primerElementoInfo">
              <span class="tituloPrimerElemento">Utilizamos los mejores productos para obtener pasteles de primera. Nuestro sabor es único y son un excelente detalle para cualquier ocasión. Son deliciosos, ¡Tienes Que Probarlos!</span>
              <span class="textoPrimerElemento">Nuestros productos son frescos y de calidad</span>
            </div>
            <div class="imgPrimerElemento"></div>
          </div>
          <div class="segundoElemento">
            <div class="imgSegundoElemento"></div>
            <div class="segundoElementoInfo">
              <span class="tituloSegundoElemento">Tenemos una gran variedad de pasteles que se acoplan a los diferentes gustos de nuestros clientes, si no sabes cual escoger te recomendamos los productos de nuestra mejor selección.</span>
              <span class="textoSegundoElemento">Escoge tus pasteles y cupcakes preferidos</span>
            </div>
          </div>
        </div>
        <div class="containerFin">
          <div class="elementosFin">
            <span class="tituloFin">Para Fiestas y Eventos</span>
            <span class="textoFin">Comunícate con nosotros con una semana de anticipación en nuestro horario de atención. </span>
            <button class="botonContactos">
              <span class="contactos"><a [routerLink]="['/contacto']" (click)="scrollToTopBtnr()">Contacto</a></span>
            </button>
          </div>
        </div>
        <div class="containerEnd">
          <div class="linea1"></div>
          <div class="linea2"></div>
          <span class="tituloEnd">Los pasteles no resolverán tus problemas, pero al menos te endulzan el camino hacia la solución.</span>
          <div class="imgKharo">
              <img src="../../../assets/img/MiFoto.jpg" alt="KharoPic">
          </div>
              <span class="nombreKharo">Ricardo Xavier Paredes</span>
              <span class="infoKharo">Delivery & Fundador de La Petite Pâtisserie</span>
          <div class="quotes">
          <span class="quotesTexto">QUOTES</span>
          </div>
          <div class="circulo1">
          <div class="circulop"></div>
          </div>
        </div>
</body>