<body>
    <div class="container">
        <div class="circuloRosado"></div>
        
        <div class="container1">
            <div class="txtContainer1">
                <span class="textoContainer1">¿Necesitas hablar? <br>
                    Te Escuchamos...</span>
                <span class="tituloContainer1">CONTÁCTANOS</span>
            </div>
            <div class="imgContainer1"></div>
        </div>
        <span class="textoMedio">¿Cuál Funciona mejor para ti?</span>
        <div class="carrusel">
            <div class="primerElemento">
                <div class="imgPrimerElemento"></div>
                <div class="txtPrimerElemento">
                    <span class="tituloPrimerElemento">Pregunta a ARIQ</span>
                    <span class="textoPrimerElemento">Echa un vistazo a nuestras preguntasfrecuentes</span>
                </div>
            </div>
            <div class="segundoElemento">
                <div class="imgSegundoElemento"></div>
                <div class="txtSegundoElemento">
                    <span class="tituloSegundoElemento">Llámanos o encuéntranos </span>
                    <span class="textoSegundoElemento">Llámanos a la línea directa de servicio al consumidor local y encuentre una ubicación de oficina cerca de tu locación</span>
                </div>
            </div>
            <div class="tercerElemento">
                <div class="imgTercerElemento"></div>
                <div class="txtTercerElemento">
                    <span class="tituloTercerElemento">Escríbenos</span>
                    <span class="textoTercerElemento">Estamos a un tweet de @LaPetitePatisserie.ec</span>
                </div>
            </div>
            <div class="cuartoElemento">
                <div class="imgCuartoElemento"></div>
                <div class="txtCuartoElemento">
                    <span class="tituloCuartoElemento">Habla Alto</span>
                    <span class="textoCuartoElemento">Si tiene un problema de cumplimiento (lo mantendremos confidencial)</span>
                </div>
            </div>
        </div>
        <span class="tituloFormulario">FORMULARIO DE CONTACTO</span>
        <span class="tituloMapa">RECUERDA QUE ESTAMOS UBICADOS EN:</span>
        <div class="formularioContacto">
            <div class="formulario">
                <form action="#" method="post">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                    
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" required>
                    
                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" required></textarea>
                    
                    <a href="mailto:ricardo.paredes@epn.edu.ec?subject=Ayuda">
                    <input type="submit" value="Enviar">
                    </a>
                </form>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.808584233316!2d-78.50067388527238!3d-0.1265767354960455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5851530fafff3%3A0x551dce2862b4fee1!2sMachala%20N59-78%2C%20Quito%20170301!5e0!3m2!1ses!2sec!4v1678465119544!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <span class="txtFinal">DÉJANOS UN MENSAJE Y QUE TENGAS UN BUEN DÍA</span>
        <div class="containerEnd">
            <div class="linea1"></div>
            <div class="linea2"></div>
            <span class="tituloEnd">Los pasteles no resolverán tus problemas, pero al menos te endulzan el camino hacia la solución.</span>
            <div class="imgKharo">
                <img src="../../../assets/img/MiFoto.jpg" alt="KharoPic">
            </div>
                <span class="nombreKharo">Ricardo Xavier Paredes</span>
                <span class="infoKharo">Delivery & Fundador de La Petite Pâtisserie</span>
            <div class="quotes">
            <span class="quotesTexto">QUOTES</span>
            </div>
            <div class="circulo1">
            <div class="circulop"></div>
            </div>
        </div>
    </div>
</body>
