<body>
    <div class="container">
        <div class="circuloRosado"></div>
        
        <div class="container1">
            <div class="txtContainer1">
                <span class="textoContainer1">¿Necesitas hablar? <br>
                    Te Escuchamos...</span>
                <span class="tituloContainer1">CONTÁCTANOS</span>
            </div>
            <div class="imgContainer1"></div>
        </div>
        <span class="textoMedio">¿Cuál Funciona mejor para ti?</span>
        <div class="carrusel">
            <div class="primerElemento">
                <div class="imgPrimerElemento"></div>
                <div class="txtPrimerElemento">
                    <span class="tituloPrimerElemento">Pregunta a ARIQ</span>
                    <span class="textoPrimerElemento">Echa un vistazo a nuestras preguntasfrecuentes</span>
                </div>
            </div>
            <div class="segundoElemento">
                <div class="imgSegundoElemento"></div>
                <div class="txtSegundoElemento">
                    <span class="tituloSegundoElemento">Llámanos o encuéntranos </span>
                    <span class="textoSegundoElemento">Llámanos a la línea directa de servicio al consumidor local y encuentre una ubicación de oficina cerca de tu locación</span>
                </div>
            </div>
            <div class="tercerElemento">
                <div class="imgTercerElemento"></div>
                <div class="txtTercerElemento">
                    <span class="tituloTercerElemento">Escríbenos</span>
                    <span class="textoTercerElemento">Estamos a un tweet de @ariq.ec</span>
                </div>
            </div>
            <div class="cuartoElemento">
                <div class="imgCuartoElemento"></div>
                <div class="txtCuartoElemento">
                    <span class="tituloCuartoElemento">Habla Alto</span>
                    <span class="textoCuartoElemento">Si tiene un problema de cumplimiento (lo mantendremos confidencial)</span>
                </div>
            </div>
        </div>
        <span class="txtFinal">DÉJANOS UN MENSAJE Y QUE TENGAS UN BUEN DÍA</span>
        <div class="containerEnd">
            <div class="linea1"></div>
            <div class="linea2"></div>
            <span class="tituloEnd">El chocolate no resolverá tus problemas Pero tampoco lo hará una manzana</span>
            <div class="imgKharo">
                <img src="../../../assets/img/v23_202.png" alt="KharoPic">
            </div>
                <span class="nombreKharo">Kharol Chicaiza</span>
                <span class="infoKharo">Delivery & Fundadora de ARIQ</span>
            <div class="quotes">
            <span class="quotesTexto">QUOTES</span>
            </div>
            <div class="circulo1">
            <div class="circulop"></div>
            </div>
        </div>
    </div>
</body>
