* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .container {
    width: 1440px;
    height: 3300px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .circuloRojo {
    position: absolute;
    width: 1011px;
    height: 1019px;
    left: 551px;
    top: -110px;
    background: red;
    opacity: 0.8;
    filter: blur(239.5px);
  }
  .circuloR {
    position: absolute;
    width: 1011px;
    height: 1019px;
    left: 0px;
    top: 1000px;
    background: red;
    opacity: 0.8;
    filter: blur(239.5px);
  }
  .img2 {
    width: 729px;
    height: 599px;
    background: url("../../../assets/img/ab1-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 583px;
    left: 700px;
    overflow: hidden;
  }
  .tituloMision {
    width: 603px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 660px;
    left: 69px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .textoInicial {
    width: 471px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 185px;
    left: 135px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .tituloHistoria {
    width: 603px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 1180px;
    left: 776px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .textoAriq {
    width: 100%;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 1850px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .textoMision {
    width: 576px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 764px;
    left: 69px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    text-align: justify;
  }
  .img1 {
    width: 729px;
    height: 599px;
    background: url("../../../assets/img/centro3-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 628px;
    overflow: hidden;
  }
  .img3 {
    width: 729px;
    height: 599px;
    background: url("../../../assets/img/centro4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1154px;
    left: 2px;
    overflow: hidden;
  }
  .textoHistoriaxd {
    width: 625px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 1280px;
    left: calc(50% - 625px/2 + 364.5px);
    /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
    text-align: justify;
  }
  /*Carrousel*/
.carousel-wrapper{
  height:400px;
  position: relative;
  width: 800px;
  display:block;
  top: 2150px;
  margin: 50px auto;
  border: 2 px solid black;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('../../../assets/img/slider3.jpg');
  background-size: cover;
}
.item-2 {
  background: url('../../../assets/img/slider2.jpg');
  background-size: cover;
}
.item-3 {
  background: url('../../../assets/img/slider1.jpg');
  background-size: cover;
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 

  /*parte final*/
  .containerEnd {
    width: 1440px;
    height: 682px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2600px;
    left: 0px;
    overflow: hidden;  
    border-width: 5px solid black;
  }
  .linea1 {
    width: 142px;
    height: 10px;
    background: linear-gradient(rgba(230, 152, 152,1), rgba(74,29,31,1));
    opacity: 0.6;
    position: absolute;
    top: 200px;
    left: 200px;
}

  .linea2 {
    width: 142px;
    height: 10px;
    background:linear-gradient(rgba(230, 152, 152,1), rgba(74,29,31,1));
    opacity: 1;
    position: absolute;
    top: 335px;
    left: 1080px;
    opacity: 0.6;
    
  }
  .tituloEnd {
    width: 977px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 168px;
    left: 231px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  
  .imgKharo {
    width: 88px;
    height: 88px;
    opacity: 1;
    position: absolute;
    left: 675px;
    top: 400px;
    border-radius: 50%;
  }
  .imgKharo img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    display: block;
    }
  .nombreKharo {
    width: 192px;
    color: rgba(74,29,31,1);
    position: absolute;
    left: 623px;
    top: 495px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .infoKharo {
    width: 271px;
    color: rgba(39,39,39,1);
    position: absolute;
    left: 584px;
    top: 575px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .quotes {
    width: 64px;
    height: 22px;
    background: rgba(230, 152, 152,1);
    padding: 2px 8px;
    margin: 2px;
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 680px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    box-shadow: 0px 1px 2px rgba(0.4117647111415863, 0.3176470696926117, 1, 0.05000000074505806);
    overflow: hidden;
  }
  .quotesTexto {
    width: 48px;
    color: rgba(74,29,31,1);
    position: absolute;
    top: 2px;
    left: 8px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  
  .circulo1 {
    width: 60px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 689px;
    top: 640px;
    overflow: hidden;
  }
  .circulop {
    width: 12px;
    height: 12px;
    background: rgba(230, 152, 152,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 24px;
    border-radius: 50%;
  }