* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .container {
    width: 1440px;
    height: 3300px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .circuloCeleste {
    position: absolute;
    width: 1011px;
    height: 1019px;
    left: 551px;
    top: -110px;
    background: #CDD9FB;
    opacity: 0.8;
    filter: blur(239.5px);
  }
  .img2 {
    width: 729px;
    height: 599px;
    background: url("../../../assets/img/v30_655.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 583px;
    left: 700px;
    overflow: hidden;
  }
  .tituloMision {
    width: 603px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 660px;
    left: 69px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .textoInicial {
    width: 471px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 185px;
    left: 135px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .tituloHistoria {
    width: 603px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 1168px;
    left: 776px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .textoAriq {
    width: 100%;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 1850px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .textoMision {
    width: 576px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 764px;
    left: 69px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    text-align: justify;
  }
  .img1 {
    width: 729px;
    height: 599px;
    background: url("../../../assets/img/v30_680.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 628px;
    overflow: hidden;
  }
  .img3 {
    width: 729px;
    height: 599px;
    background: url("../../../assets/img/v30_681.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1154px;
    left: 2px;
    overflow: hidden;
  }
  .textoHistoriaxd {
    width: 625px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 1280px;
    left: calc(50% - 625px/2 + 364.5px);
    /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
    text-align: justify;
  }
  /*Carrousel*/
  :root {
    --card-largura: 200px;
    --card-altura: 300px;
    --card-duracao-transicao: 800ms;
    --card-transicao-tipo-saida: ease;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  button:focus {
    outline: none;
    border: none;
  }
  .conteudo {
    position: relative;
    top:2300px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .conteudo__background {
    position: relative;
    top:2300px;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
    overflow: hidden;
  }
  .conteudo__background::before {
    content: "";
    position: absolute;
    top:2300px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.8;
  }
  .conteudo__backgorund__imagem {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 100%;
    height: 100%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
  }
  .conteudo__backgorund__imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .conteudo__backgorund__imagem.imagem--corrente {
    opacity: 1;
    --image-translate-offset: 0;
  }
  .conteudo__backgorund__imagem.imagem--anterior,
  .conteudo__backgorund__imagem.imagem--proxima {
    opacity: 0;
  }
  .conteudo__backgorund__imagem.imagem--anterior {
    --image-translate-offset: -25%;
  }
  .conteudo__backgorund__imagem.imagem--proxima {
    --image-translate-offset: 25%;
  }
  
  .lista__cards {
    position: absolute;
    width: calc(3 * var(--card-largura));
    height: auto;
  }
  .lista__cards__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .lista__cards__btn.btn-esquerda {
    left: -5%;
  }
  .lista__cards__btn.btn--direita {
    right: -5%;
  }
  .lista__cards__btn .icone {
    width: 100%;
    height: 100%;
  }
  .lista__cards__btn .icone svg {
    width: 100%;
    height: 100%;
  }
  .lista__cards .conteudo__cards {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
      translateY(var(--card-translateY-offset))
      rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-largura);
    height: var(--card-altura);
    transition: transform var(--card-duracao-transicao)
      var(--card-transicao-tipo-saida);
    user-select: none;
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: opacity var(--card-duracao-transicao)
      var(--card-transicao-tipo-saida);
    opacity: calc(1 - var(--opacity));
  }
  .imagem--card {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .imagem--card img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card.card--corrente {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
  }
  .card.card--anterior {
    --card-translateX-offset: calc(-1 * var(--card-largura) * 1.1);
    --card-rotation-offset: 25deg;
  }
  .card.card--proximo {
    --card-translateX-offset: calc(var(--card-largura) * 1.1);
    --card-rotation-offset: -25deg;
  }
  .card.card--anterior,
  .card.card--proximo {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  .listagem__informacoes {
    position: absolute;
    width: calc(3 * var(--card-largura));
    height: var(--card-altura);
    pointer-events: none;
  }
  .listagem__informacoes .conteudo__informacoes {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--card-altura) / 8);
    margin-left: calc(var(--card-largura) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-duracao-transicao)
      var(--card-transicao-tipo-saida);
  }
  .info .texto {
    position: relative;
    font-family: "Poppins";
    font-size: calc(var(--card-largura) * var(--texto-size-offset, 0.2));
    white-space: nowrap;
    color: #fff;
    width: fit-content;
    text-shadow: 2px 2px 2px black;
  
  }
  .info .localizacao {
    text-transform: uppercase;
    font-weight: 800;
  }
  .info .localizacao {
    --mg-left: 40px;
    --texto-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg r-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
  }
  .info .localizacao::before,
  .info .localizacao::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
  }
  .info .localizacao::after {
    bottom: 0;
    width: 60px;
    height: 2px;
  }
  .info .descricao {
    --texto-size-offset: 0.065;
    font-weight: 500;
  }
  .info.informacoes__corrente {
    opacity: 1;
    display: block;
  }
  .info.informacoes__anterior,
  .info.informacoes__seguinte {
    opacity: 0;
    display: none;
  }

  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (min-width: 800px) {
    :root {
      --card-largura: 250px;
      --card-altura: 400px;
    }
  }
  /*parte final*/
  .containerEnd {
    width: 1440px;
    height: 682px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2600px;
    left: 0px;
    overflow: hidden;  
    border-width: 5px solid black;
  }
  .linea1 {
    width: 142px;
    height: 98px;
    background: linear-gradient(rgba(225,251,205,1), rgba(255,255,255,1));
    opacity: 1;
    position: absolute;
    top: 102px;
    left: 207px;
  }
  .linea2 {
    width: 142px;
    height: 98px;
    background: linear-gradient(rgba(219,251,205,1), rgba(255,255,255,1));
    opacity: 1;
    position: absolute;
    top: 290px;
    left: 1080px;
  }
  .tituloEnd {
    width: 977px;
    color: rgba(39,39,39,1);
    position: absolute;
    top: 168px;
    left: 231px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  
  .imgKharo {
    width: 88px;
    height: 88px;
    opacity: 1;
    position: absolute;
    left: 675px;
    top: 370px;
    border-radius: 50%;
  }
  .imgKharo img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    display: block;
    }
  .nombreKharo {
    width: 192px;
    color: rgba(74,29,31,1);
    position: absolute;
    left: 623px;
    top: 482px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .infoKharo {
    width: 271px;
    color: rgba(39,39,39,1);
    position: absolute;
    left: 584px;
    top: 522px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .quotes {
    width: 64px;
    height: 22px;
    background: rgba(216,251,205,1);
    padding: 2px 8px;
    margin: 2px;
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 680px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    box-shadow: 0px 1px 2px rgba(0.4117647111415863, 0.3176470696926117, 1, 0.05000000074505806);
    overflow: hidden;
  }
  .quotesTexto {
    width: 48px;
    color: rgba(74,29,31,1);
    position: absolute;
    top: 2px;
    left: 8px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  
  .circulo1 {
    width: 60px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 689px;
    top: 582px;
    overflow: hidden;
  }
  .circulop {
    width: 12px;
    height: 12px;
    background: rgba(39,39,39,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 24px;
    border-radius: 50%;
  }