#menu {
    position: absolute static;
    width: 1440px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #E5E5E5;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
    box-sizing: border-box;
    margin-right: 467px;
}

.Logo {
    width: auto;
    left: 100px;
    display: block;
    height: 50px;
    margin-left: 116px;
}
  
ul {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: black;
    text-decoration: none;
}
/*
#menu{
    position: absolute static;
    width: 1440px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #E5E5E5;
}
#menu li {
    position: right;
    display: inline-block;
}
#menu li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
.logo {
    position: absolute;
    width: 126px;
    height: 63px;
    left: 184px;
    top: 12px;
  }*/