<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, user-scalable=no">
    <link rel="icon" type="favicon/x-icon" href="">
</head>
<nav id="menu">
    <div class="menu-container">
        <img class="Logo" src="../img/ariqLogo.png" alt="Logo">
        <ul>
        <li><a [routerLink]="['/inicio']">Inicio</a></li>
        <li><a [routerLink]="['/chocolates']">Chocolates</a></li>
        <li><a [routerLink]="['/guardar-chocolate']">Guardar Chocolate</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
        </ul>
    </div>
</nav>
